version: '2'
services:
  driver:
    privileged: true
    network_mode: host
    image: rancher/storage-ebs:dev
    labels:
      io.rancher.container.create_agent: 'true'
      io.rancher.container.agent.role: environment
      io.rancher.container.pull_image: always
    volumes:
    - /run:/run
    - /dev:/host/dev
    metadata:
      storage_driver:
        name: cattle-ebs
